<!-- Record -->
<article class="lg-search-result campl-listing-item clearfix">

  <!-- Thumbnail -->
  <div class="campl-column2">
    <div class="lg-resource-img">
      <%
        var thumbnail = searchUtil.getItemThumbnail(item);
        if (thumbnail) {
      %>
        <a href="/find-a-resource/<%= item.ID %>">
          <img class="campl-scale-with-grid" src="<%= thumbnail %>" alt="<%- item.Title %>">
        </a>
      <%
        }
      %>
    </div>
  </div>

  <!-- Record metadata -->
  <div class="campl-column10">
    <div class="campl-content-container campl-listing-txt">

      <!-- Title -->
      <% if (item.Title) { %>
      <header>
        <h3 class="campl-listing-title">
          <% var title = searchUtil.replaceTags(item.Title[0]); %>
          <a href="/find-a-resource/<%= item.ID %>"><%- title %></a>
        </h3>
      </header>
      <% } %>

      <!-- Metadata -->
      <ul class="lg-resource-properties">

        <!-- Inline metadata-->
        <li>

          <!-- Authors -->
          <% if (item.Author) { %>
            by
            <% for (i in item.Author) {
              var author = searchUtil.replaceTags(item.Author[i]);
              var author_stripped = searchUtil.linkify(searchUtil.removeTags(item.Author[i]));
            %>
            <a href="/find-a-resource?s.q=Author:&quot;<%- author_stripped %>&quot;" title="<%- author_stripped %>"><%- author %></a>,
            <% } %>
          <% } %>

          <!-- Published -->
          <% if (item.PublicationDate_xml) { %>
            published <% if (item.PublicationDate_xml[0].month && item.PublicationDate_xml[0].year) { %>on<% } else { %>in<% }%>
            <% if (item.PublicationDate_xml[0].month) { %><%= item.PublicationDate_xml[0].month %><% } if (item.PublicationDate_xml[0].month && item.PublicationDate_xml[0].year) { %>/<% } if (item.PublicationDate_xml[0].year) { %><%= item.PublicationDate_xml[0].year %><% } %>
          <% } %>

          <!-- Publication Series Title -->
          <% if (item.PublicationSeriesTitle) { %>
            in

            <% for (i in item.PublicationSeriesTitle) {
              var title = searchUtil.replaceTags(item.PublicationSeriesTitle[i]);
              var link = searchUtil.linkify(title);
            %>
            <a href="/find-a-resource?s.q=PublicationSeriesTitle:&quot;<%- link %>&quot;" title="<%- title %>"><%- title %></a>
            <% } %>
          <% } %>

          <!-- Publisher -->
          <% if (item.Publisher) { %>
            by
            <% for (i in item.Publisher) {
              var publisher = searchUtil.replaceTags(item.Publisher[i]);
              var link = searchUtil.linkify(publisher);
            %>
            <a href="/find-a-resource?s.q=Publisher:&quot;<%- link %>&quot;" title="<%- publisher %>"><%- publisher %></a>
            <% } %>
          <% } %>

        </li>
        <li>

          <!-- Meta data -->
          <%
            var metaData = [];

            if (item.Volume) {
              for (i in item.Volume) {
                var value = searchUtil.replaceTags(item.Volume[i]);
                metaData.push('<span class="property"><span class="label">Volume: </span>' + value + '</span>');
              }
            }

            if (item.Issue) {
              for (i in item.Issue) {
                var value = searchUtil.replaceTags(item.Issue[i]);
                metaData.push('<span class="property"><span class="label">Issue: </span>' + value + '</span>');
              }
            }

            if (item.StartPage || item.EndPage) {
              var string = '<span class="property"><span class="label">Pages: </span>';

              if (item.StartPage) {
                string += item.StartPage
              }

              if ((item.StartPage && item.EndPage) && (item.StartPage[0] !== item.EndPage[0])) {
                if (item.EndPage) {
                  string += ('-' + item.EndPage)
                }
              }

              string += '</span>';
              metaData.push(string);
            }

            if (item.Edition) {
              for (i in item.Edition) {
                var value = searchUtil.replaceTags(item.Edition[i]);
                metaData.push('<span class="property"><span class="label">Edition: </span>' + value + '</span>');
              }
            }

            if (item.ISBN) {
              for (i in item.ISBN) {
                var value = searchUtil.replaceTags(item.ISBN[i]);
                metaData.push('<span class="property"><span class="label">ISBN: </span>' + value + '</span>');
              }
            }

            if (item.ISSN) {
              for (i in item.ISSN) {
                var value = searchUtil.replaceTags(item.ISSN[i]);
                metaData.push('<span class="property"><span class="label">ISSN: </span>' + value + '</span>');
              }
            }
          %>

          <!-- Loop the meta data -->
          <% for (i in metaData) { %>
            <%- metaData[i].trim() %><% if (i < (metaData.length - 1)) { %>-<% } %>
          <% } %>
        </li>
        <li>

          <!-- SubjectTerms -->
          <% if (item.SubjectTerms) { %>
          <p>
            <% for (i in item.SubjectTerms) { %>
              <%
                var subjectTerm = searchUtil.removeTags(item.SubjectTerms[i]);
                var link = searchUtil.linkify(subjectTerm);
              %>
              <a href="/find-a-resource?s.fvf=SubjectTerms,<%= link %>,false" title="<%= subjectTerm %>"><%= subjectTerm %></a><% if (i < (item.SubjectTerms.length - 1)) { %>,<% } %>
            <% } %>
          </p>
          <% } %>

          <!-- Link -->
          <% if (item.link) { %>
          <p>
            <% if (item.ContentType) { %>
              <%- item.ContentType %>:
            <% } %>

            <!-- Link label (e.g. "Full Text Online", "Available Online", "Citation Online"...)-->
            <%
              var label = null;
              if (item.hasFullText === true) {
                label = 'Full Text Online';
                if (item.ContentType[0] === 'Reference') {
                  label = 'Available Online';
                }
              } else {
                label = 'Citation Online';
              }
            %>
            <a href="<%= item.link %>" target="_blank" title="<%= label %>"><%= label %></a>
          </p>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
  <!-- End metadata -->

</article>
