<!-- Error -->
<% if (search.results.error) { %>
  <div class="campl-notifications-panel lg-alert campl-alert-panel campl-notifications-container clearfix">
    <p class="campl-notifications-icon campl-alert-icon">Warning:</p>
    <p><%= search.results.error.msg %></p>
  </div>

<!-- Results -->
<% } else { %>

  <!-- Facets overview start -->
  <% if (search.results.facetsOverview && search.results.facetsOverview.length) { %>
    <div class="campl-column12 lg-facets-overview">
      <div class="campl-content-container">
        <p class="lg-active-facets">
          <span>Showing <strong><%= search.results.rowCount %></strong> results: </span>
          <% for (facetIndex in search.results.facetsOverview) { %>
          <span class="lg-active-facet">
            <% if (search.results.facetsOverview[facetIndex].type) { %>
              <% var type = searchUtil.makeReadable(search.results.facetsOverview[facetIndex].type, true); %>
              <span class="lg-active-facet-type"><%= type %>: </span>
            <% } %>
            <span class="lg-active-facet-value"><%= search.results.facetsOverview[facetIndex].value %></span>
            <a class="lg-active-facet-remove" href="?<%= search.results.facetsOverview[facetIndex].url %>" title="Remove filter">(x)</a>
          </span>
          <% }%>
        </p>
      </div>
    </div>
  <% } %>

  <!-- Facets start -->
  <% if (search.results.rowCount > 0) { %>
    <div class="campl-column3">
      <div class="campl-top-padding">
        <div class="campl-tertiary-navigation lg-results-facets">
          <div class="campl-tertiary-navigation-structure">

            <!-- Overview -->
            <% if (search.query['s.fvf']) { %>
            <ul class="campl-unstyled-list campl-vertical-breadcrumb">
              <li>
                <a href="#" data-toggle="collapse">Filters</a>
              </li>
            </ul>
            <div class="in js-facet">
              <ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">
                <li class="campl-selected">
                  <ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
                    <%
                      var link = '';
                      if (search.query['s.q']) {
                        link = '?s.q=' + search.query['s.q'];
                      }
                    %>
                    <li><a href="/find-a-resource<%= link %>" title="Reset filters">Reset filters</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <% } %>

            <!-- Loop start -->
            <% if (search.results.facets) { %>
              <% for (facetType in search.results.facets) { %>
                <% var facet = search.results.facets[facetType]; %>
                <ul class="campl-unstyled-list campl-vertical-breadcrumb">
                  <li class="lg-facet-type">
                    <% var label = searchUtil.makeReadable(facet.label, true); %>
                    <a href="#facet--<%= facet.label %>" data-toggle="collapse"><%= label %>
                      <span class="campl-vertical-breadcrumb-indicator"></span>
                    </a>
                  </li>
                </ul>
                <div id="facet--<%= facet.label %>" class="in js-facet">
                  <ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">
                    <li class="campl-selected">
                      <ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
                        <%
                          var limit = (facet.facets.length >= 5) ? 5 : facet.facets.length;
                          for (var i = 0; i < limit; i++) { %>
                          <li<% if (facet.facets[i].isApplied) { %> class="lg-facet-applied"<% } %>>
                            <a href="/find-a-resource?<%= facet.facets[i].url %>">
                              <% if (facet.facets[i].isApplied) { %>
                              <strong>
                              <% } %>
                              <%= facet.facets[i].label %><span class="lg-facet-numItems"><%= facet.facets[i].numItems %></span>
                              <% if (facet.facets[i].isApplied) { %>
                              </strong>
                              <% } %>
                            </a>
                          </li>
                        <% } %>

                        <!-- More -->
                        <% if (facet.more) { %>
                          <li>
                            <a class="lg-facet-more" href="#"><%= facet.more %> <span class="lg-facet-more-change">more</span>...</a>
                          </li>

                          <!-- Facets -->
                          <div class="js-facet-more-container" style="display: none;">
                          <% for (var y = 5; y < facet.facets.length; y++) { %>
                            <li<% if (facet.facets[y].isApplied) { %> class="lg-facet-applied"<% } %>>
                              <a href="/find-a-resource?<%= facet.facets[y].url %>">
                                <% if (facet.facets[y].isApplied) { %><strong><% } %>
                                <%= facet.facets[y].label %><span class="lg-facet-numItems"><%= facet.facets[y].numItems %></span>
                                <% if (facet.facets[y].isApplied) { %></strong><% } %>
                              </a>
                            </li>
                          <% } %>
                          </div>
                        <% } %>
                      </ul>
                    </li>
                  </ul>
                </div>
              <% } %>
            <% } %>
            <!-- Loop end -->

          </div>
        </div>
      </div>
    </div>
  <% } %>
  <!-- Facets end -->

  <!-- Resources start -->
  <div<% if (search.results && search.results.rowCount > 0) { %> class="campl-column9"<% } %>>
    <% if (search.results) { %>
      <% if (search.results.rowCount > 0) { %>

        <!-- Results list -->
        <% for (item in search.results.items) { %>
          <%- search.results.items[item] %>
        <% } %>

        <!-- Pagination start -->
        <% if (search.results.pagination.pageCount) { %>
          <div class="campl-pagination campl-pagination-centered">
            <ul>
              <% if (search.results.pagination.previousPage.visible) { %>
                <li class="campl-previous-li">
                  <a href="/find-a-resource?<%= search.results.pagination.previousPage.url %>" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
                </li>
              <% } %>
              <% for (page in search.results.pagination.pageRange) { %>

                <% if (search.results.pagination.pageRange[page].type === 'page') { %>
                  <li <% if (search.results.pagination.pageRange[page].number === search.results.pagination.pageNumber) { %>class="campl-active"<% } %>>
                    <a href="/find-a-resource?<%= search.results.pagination.pageRange[page].url %>"><%= search.results.pagination.pageRange[page].number %></a>
                  </li>
                <% } else { %>
                  <li>
                    <span class="campl-elipsis">...</span>
                  </li>
                <% } %>
              <% } %>
              <% if (search.results.pagination.nextPage.visible) { %>
                <li class="campl-next-li">
                  <a href="/find-a-resource?<%= search.results.pagination.nextPage.url %>" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
                </li>
              <% } %>
            </ul>
          </div>
        <% } %>
        <!-- Pagination end -->

      <% } else if (search.results.rowCount === 0) { %>
        <div class="campl-content-container">
          <p>Your search <% if (search.query['s.q']) { %><strong><%= decodeURIComponent(search.query['s.q']) %></strong> <% } %>did not match any of our resources.</p>
          <% if (search.results.suggestions) { %>
            <p>Did you mean
              <% var i = 0; %>
              <% for (suggestion in search.results.suggestions.suggestedItems) { %><a href="/find-a-resource?<%= search.results.suggestions.suggestedItems[suggestion].url %>"><%= search.results.suggestions.suggestedItems[suggestion].label %></a><% if (i < search.results.suggestions.suggestedItems.length - 1) { %>, <% } i++ %><% } %>?
            </p>
          <% } %>
          <hr>
          <p><% if (search.results.suggestions) { %>More <% } %>Suggestions:</p>
          <ul class="campl-unstyled-list">
            <li>Check your spelling</li>
            <li>Try different terms</li>
            <li>Try more general terms</li>
          </ul>
        </div>
      <% } %>
    <% } else { %>
      <p>An error occurred while fetching books & journals</p>
    <% } %>
  </div>
  <!-- Resources end -->

<% } %>
