<!-- Page header -->
<% include ../globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">
        <%= data.resource.Title %>
      </h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="lg-resource-detail">
        <div class="campl-column3 lg-resource-img-wrap">
          <div class="lg-resource-img-outer">
            <div class="lg-resource-img-inner">
            <%
              var thumbnail = searchUtil.getItemThumbnail(data.resource);
              if (thumbnail) {
            %>
              <img class="campl-scale-with-grid" src="<%= thumbnail %>"/>
            <% } else { %>
              <img class="campl-scale-with-grid" src="/public/images/resource-no-image.jpg" alt="No image available">
            <% } %>
            </div>
          </div>
        </div>
        <div class="campl-column9 lg-resource-properties-wrap pull-right">
          <ul class="campl-content-container lg-resource-properties">
            <% for (key in data.resource) { %>
              <li>
                <h4><%= key %></h4>
                <ul>
                  <% if (data.resource[key] instanceof Array) { %>
                    <% for (value in data.resource[key]) { %>
                    <li><%- data.resource[key][value] %></li>
                    <% } %>
                  <% } else { %>
                  <li><%- data.resource[key] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <!-- resource detailed information ends  -->

    </div>
    <!-- left content block ends -->

    <div class="campl-column4 campl-secondary-content">
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Share & print</h3>
        </header>

        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="http://www.facebook.com/sharer.php?s=100&p[url]=<%= data.shareUrl %>&p[summary]=<%= data.shareText %>&p[title]=Cambridge%20Libraries" target="_blank"><span class="lg-icon-facebook"></span> Share on Facebook</a></li>
          <li><a href="http://twitter.com/share?url=<%= data.shareUrl %>&text=<%= data.shareText %>" target="_blank"><span class="lg-icon-twitter"></span> Tweet</a></li>
          <li><a class="js-btn-print" href="#">Print record</a></li>
          <% if (data.resource.ExternalDocumentID) { %>
            <li><a href="http://search.lib.cam.ac.uk/export.ashx?type=export-ris&file=export.ris&itemid=<%= data.resource.ExternalDocumentID %>" target="_blank">Export to RefWorks/Endnote</a></li>
            <li><a href="http://www.lib.cam.ac.uk/ab_support/bibtex.php?itemid=<%= data.resource.ExternalDocumentID %>" target="_blank">Export as BibTeX</a></li>
          <% } %>
        </ul>
      </section>
      <!-- Share & print ends -->

      <!--
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>More information</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#">About this book</a></li>
          <li><a href="#">More information in LibraryThing</a></li>
        </ul>
      </section>
      -->
      <!-- More information ends -->
    </div>
  </div>
</div>
