<!-- Page header -->
<% include ../globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">
        <%= data.resource.Title %>
      </h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column9">
      <div class="lg-resource-detail">
        <div class="campl-column3 lg-resource-img-wrap">

          <!-- Back button -->
          <button class="js-lg-btn-back">Return to results</button>

          <!-- Thumbnail -->
          <div class="lg-resource-img-outer">
            <div class="lg-resource-img-inner">
            <%
              var thumbnail = searchUtil.getItemThumbnail(data.resource);
              if (thumbnail) {
            %>
              <img class="campl-scale-with-grid" src="<%= thumbnail %>" alt="<%- data.resource['Title'] %>" title="<%- data.resource['Title'] %>"/>
            <% } else { %>
              <img class="campl-scale-with-grid" src="/public/images/resource-no-image.jpg" alt="No image available"/>
            <% } %>
            </div>
          </div>

          <!-- Actions -->
          <div class="lg-resource-actions">

            <!-- Share and print -->
            <section class="campl-content-container">
              <header class="campl-heading-container">
                <h3>Share & print</h3>
              </header>

              <ul class='campl-unstyled-list campl-related-links'>
                <li><a href="http://www.facebook.com/sharer.php?s=100&p[url]=<%= data.shareUrl %>&p[summary]=<%= data.shareText %>&p[title]=Cambridge%20Libraries" target="_blank"><span class="lg-icon-facebook"></span> Share on Facebook</a></li>
                <li><a class="js-btn-print" href="#">Print record</a></li>
                <% if (data.resource.ExternalDocumentID) { %>
                  <li><a href="http://search.lib.cam.ac.uk/export.ashx?type=export-ris&file=export.ris&itemid=<%= data.resource.ExternalDocumentID %>" target="_blank">Export to RefWorks/Endnote</a></li>
                  <li><a href="http://www.lib.cam.ac.uk/ab_support/bibtex.php?itemid=<%= data.resource.ExternalDocumentID %>" target="_blank">Export as BibTeX</a></li>
                <% } %>
              </ul>
            </section>
          </div>

        </div>
        <div class="campl-column9 lg-resource-properties-wrap pull-right">
          <ul class="campl-content-container lg-resource-properties">

            <!-- Title -->
            <% if (data.resource['Title']) { %>
            <li>
              <h4>Title</h4>
              <ul>
                <% if (data.resource['Title'] instanceof Array) { %>
                  <% for (value in data.resource['Title']) { %>
                  <li><%- data.resource['Title'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['Title'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- Authors -->
            <% if (data.resource['Author']) { %>
            <li>
              <h4>Author</h4>
              <ul>
                <% if (data.resource['Author'] instanceof Array) { %>
                  <%
                    for (value in data.resource['Author']) {
                      var link = searchUtil.linkify(data.resource['Author'][value]);
                  %>
                  <li><a href="/find-a-resource?s.q=Author:&quot;<%= link %>&quot;"><%= data.resource['Author'][value] %></a></li>
                  <% } %>
                <%
                  } else {
                    var link = searchUtil.linkify(data.resource['Author']);
                %>
                <li><a href="/find-a-resource?s.q=Author:&quot;<%= data.resource['Author'] %>&quot;"><%= data.resource['Author'] %></a></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- ContentType -->
            <% if (data.resource['ContentType']) { %>
            <li>
              <h4>Content Type</h4>
              <ul>
                <% if (data.resource['ContentType'] instanceof Array) { %>
                  <% for (value in data.resource['ContentType']) { %>
                  <li><%- data.resource['ContentType'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['ContentType'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- Language -->
            <% if (data.resource['Language']) { %>
            <li>
              <h4>Language</h4>
              <ul>
                <% if (data.resource['Language'] instanceof Array) { %>
                  <% for (value in data.resource['Language']) { %>
                  <li><%- data.resource['Language'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['Language'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- PublicationDate -->
            <% if (data.resource['PublicationDate']) { %>
            <li>
              <h4>Publication Date</h4>
              <ul>
                <% if (data.resource['PublicationDate'] instanceof Array) { %>
                  <% for (value in data.resource['PublicationDate']) { %>
                  <li><%- data.resource['PublicationDate'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['PublicationDate'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- PublicationTitle -->
            <% if (data.resource['PublicationTitle']) { %>
            <li>
              <h4>Publication Title</h4>
              <ul>
                <% if (data.resource['PublicationTitle'] instanceof Array) { %>
                  <% for (value in data.resource['PublicationTitle']) { %>
                  <li><%- data.resource['PublicationTitle'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['PublicationTitle'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- PublicationTitleAlternative -->
            <% if (data.resource['PublicationTitleAlternate']) { %>
            <li>
              <h4>Publication Title Alternate</h4>
              <ul>
                <% if (data.resource['PublicationTitleAlternate'] instanceof Array) { %>
                  <% for (value in data.resource['PublicationTitleAlternate']) { %>
                  <li><a href="/find-a-resource?s.q=PublicationTitleAlternate:&quot;<%= data.resource['PublicationTitleAlternate'][value] %>&quot;" title="<%- data.resource['PublicationTitleAlternate'][value] %>"><%- data.resource['PublicationTitleAlternate'][value] %></a></li>
                  <% } %>
                <% } else { %>
                <li><a href="/find-a-resource?s.q=PublicationTitleAlternate:&quot;<%= data.resource['PublicationTitleAlternate'] %>&quot;" title="<%- data.resource['PublicationTitleAlternate'] %>"><%- data.resource['PublicationTitleAlternate'] %></a></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- PublicationSeriesTitle -->
            <% if (data.resource['PublicationSeriesTitle']) { %>
            <li>
              <h4>Publication Series Title</h4>
              <ul>
                <% if (data.resource['PublicationSeriesTitle'] instanceof Array) { %>
                  <% for (value in data.resource['PublicationSeriesTitle']) { %>
                  <li><a href="/find-a-resource?s.q=PublicationSeriesTitle:&quot;<%= data.resource['PublicationSeriesTitle'][value] %>&quot;" title="<%- data.resource['PublicationSeriesTitle'][value] %>"><%- data.resource['PublicationSeriesTitle'][value] %></a></li>
                  <% } %>
                <% } else { %>
                <li><a href="/find-a-resource?s.q=PublicationSeriesTitle:&quot;<%= data.resource['PublicationSeriesTitle'] %>&quot;" title="<%- data.resource['PublicationSeriesTitle'] %>"></a><%- data.resource['PublicationSeriesTitle'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- Publisher -->
            <% if (data.resource['Publisher']) { %>
            <li>
              <h4>Publisher</h4>
              <ul>
                <% if (data.resource['Publisher'] instanceof Array) { %>
                  <% for (value in data.resource['Publisher']) { %>
                  <% var link = searchUtil.linkify(data.resource['Publisher'][value]); %>
                  <li><a href="/find-a-resource?s.q=Publisher:&quot;<%= link %>&quot;" title="<%- data.resource['Publisher'][value] %>"><%- data.resource['Publisher'][value] %></a></li>
                  <% } %>
                <% } else { %>
                <% var link = searchUtil.linkify(data.resource['Publisher']); %>
                <li><a href="/find-a-resource?s.q=Publisher:&quot;<%= link %>&quot;" title="<%- data.resource['Publisher'] %>"><%- data.resource['Publisher'] %></a></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- ISBN -->
            <% if (data.resource['ISBN']) { %>
            <li>
              <h4>ISBN</h4>
              <ul>
                <% if (data.resource['ISBN'] instanceof Array) { %>
                  <% for (value in data.resource['ISBN']) { %>
                  <li><%- data.resource['ISBN'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['ISBN'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- StartPage -->
            <% if (data.resource['StartPage']) { %>
            <li>
              <h4>Start Page</h4>
              <ul>
                <% if (data.resource['StartPage'] instanceof Array) { %>
                  <% for (value in data.resource['StartPage']) { %>
                  <li><%- data.resource['StartPage'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['StartPage'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- EndPage -->
            <% if (data.resource['EndPage']) { %>
            <li>
              <h4>End Page</h4>
              <ul>
                <% if (data.resource['EndPage'] instanceof Array) { %>
                  <% for (value in data.resource['EndPage']) { %>
                  <li><%- data.resource['EndPage'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['EndPage'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- DOI -->
            <% if (data.resource['DOI']) { %>
            <li>
              <h4>DOI</h4>
              <ul>
                <% if (data.resource['DOI'] instanceof Array) { %>
                  <% for (value in data.resource['DOI']) { %>
                  <li><%- data.resource['DOI'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['DOI'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- IsPeerReviewed -->
            <% if (data.resource['IsPeerReviewed']) { %>
            <li>
              <h4>Is Peer Reviewed</h4>
              <ul>
                <% if (data.resource['IsPeerReviewed'] instanceof Array) { %>
                  <% for (value in data.resource['IsPeerReviewed']) { %>
                  <li><%- data.resource['IsPeerReviewed'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['IsPeerReviewed'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- URI -->
            <% if (data.resource['URI']) { %>
            <li>
              <h4>URI</h4>
              <ul>
                <% if (data.resource['URI'] instanceof Array) { %>
                  <% for (value in data.resource['URI']) { %>
                  <li><a href="<%- data.resource['URI'][value] %>" target="_blank"><%- data.resource['URI'][value] %></a></li>
                  <% } %>
                <% } else { %>
                <li><a href="<%- data.resource['URI'] %>" target="_blank"><%- data.resource['URI'] %></a></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- Abstract -->
            <% if (data.resource['Abstract']) { %>
            <li>
              <h4>Abstract</h4>
              <ul>
                <% if (data.resource['Abstract'] instanceof Array) { %>
                  <% for (value in data.resource['Abstract']) { %>
                  <li><%- data.resource['Abstract'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['Abstract'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- SourceType -->
            <% if (data.resource['SourceType']) { %>
            <li>
              <h4>SourceType</h4>
              <ul>
                <% if (data.resource['SourceType'] instanceof Array) { %>
                  <% for (value in data.resource['SourceType']) { %>
                  <li><%- data.resource['SourceType'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['SourceType'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

            <!-- LinkModel -->
            <% if (data.resource['LinkModel']) { %>
            <li>
              <h4>LinkModel</h4>
              <ul>
                <% if (data.resource['LinkModel'] instanceof Array) { %>
                  <% for (value in data.resource['LinkModel']) { %>
                  <li><%- data.resource['LinkModel'][value] %></li>
                  <% } %>
                <% } else { %>
                <li><%- data.resource['LinkModel'] %></li>
                <% } %>
              </ul>
            </li>
            <% } %>

          </ul>
        </div>
      </div>
      <!-- resource detailed information ends  -->

    </div>
    <!-- left content block ends -->

    <div class="campl-column3 campl-secondary-content">

      <!-- Disciplines -->
      <% if (data.resource['Discipline']) { %>
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Disciplines</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
        <% if (data.resource['Discipline'] instanceof Array) { %>
          <% for (value in data.resource['Discipline']) { %>
          <% var link = searchUtil.linkify(data.resource['Discipline'][value]); %>
          <li><a href="/find-a-resource?s.fvf=Discipline,<%= link %>,false" title="<%- data.resource['Discipline'][value] %>"><%- data.resource['Discipline'][value] %></a></li>
          <% } %>
        <% } else { %>
          <% var link = searchUtil.linkify(data.resource['Discipline']); %>
          <li><a href="/find-a-resource?s.fvf=Discipline,<%= link %>,false" title="<%- data.resource['Discipline'] %>"><%- data.resource['Discipline'] %></a></li>
        <% } %>
        </ul>
      </section>
      <% } %>

      <!-- SubjectTerms -->
      <% if (data.resource['SubjectTerms']) { %>
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Subjectterms</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
        <% if (data.resource['SubjectTerms'] instanceof Array) { %>
          <% for (value in data.resource['SubjectTerms']) { %>
          <% var link = searchUtil.linkify(data.resource['SubjectTerms'][value]); %>
          <li><a href="/find-a-resource?s.fvf=SubjectTerms,<%= link %>,false" title="<%- data.resource['SubjectTerms'][value] %>"><%- data.resource['SubjectTerms'][value] %></a></li>
          <% } %>
        <% } else { %>
          <% var link = searchUtil.linkify(data.resource['SubjectTerms']); %>
          <li><a href="/find-a-resource?s.fvf=SubjectTerms,<%= link %>,false" title="<%- data.resource['SubjectTerms'] %>"><%- data.resource['SubjectTerms'] %></a></li>
        <% } %>
        </ul>
      </section>
      <% } %>

      <!-- RelatedPersons -->
      <% if (data.resource['RelatedPersons']) { %>
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Related persons</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
        <% if (data.resource['RelatedPersons'] instanceof Array) { %>
          <% for (value in data.resource['RelatedPersons']) { %>
          <% var link = searchUtil.linkify(data.resource['RelatedPersons'][value]); %>
          <li><a href="/find-a-resource?s.q=&quot;<%= link %>&quot;" title="<%- data.resource['RelatedPersons'][value] %>"><%- data.resource['RelatedPersons'][value] %></li>
          <% } %>
        <% } else { %>
          <% var link = searchUtil.linkify(data.resource['RelatedPersons']); %>
          <li><a href="/find-a-resource?s.q=&quot;<%= link %>&quot;" title="<%- data.resource['RelatedPersons'] %>"><%- data.resource['RelatedPersons'] %></a></li>
        <% } %>
        </ul>
      </section>
      <% } %>
    </div>
  </div>
</div>
